<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chapter10.mapper.CustomerMapper">
    <select id="findById" parameterType="Integer" resultType="chapter10.model.Customer">
        SELECT * FROM customer WHERE id=#{id}
    </select>
    <insert id="addCustomer" parameterType="chapter10.model.Customer">
        INSERT INTO customer VALUES (#{id}, #{name}, #{jobs}, #{phone})
    </insert>
</mapper>