<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="aspect" class="chapter03.aspect.ProxyAspect"/>
    <bean id="userDao" class="chapter03.dao.impl.UserDaoImpl"/>

    <aop:config>
        <aop:aspect ref="aspect">
            <aop:pointcut id="pointcut" expression="execution(* chapter03.dao.*.*(..))"/>
            <aop:before method="checkPermissions" pointcut-ref="pointcut"/>
            <aop:after method="log" pointcut-ref="pointcut"/>
            <aop:after-throwing method="error" throwing="e" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

</beans>